DATABASE_PUBLIC_URL=postgresql://postgres:UhBmGBZMypYgGMhklqxaJGbLhzENEoRl@yamabiko.proxy.rlwy.net:59232/railway
DATABASE_URL=postgresql://postgres:UhBmGBZMypYgGMhklqxaJGbLhzENEoRl@postgres.railway.internal:5432/railway


IMAGE_STORAGE_BUCKET=slingshotnewimages-hw-tht
IMAGE_STORAGE_ENDPOINT=https://storage.railway.app
IMAGE_STORAGE_REGION=auto
IMAGE_STORAGE_ACCESS_KEY=tid_GeBgkUnH_kGRrWNethgcgSAMQTAshJCWVXLbpVdxnbHmXuQskm
IMAGE_STORAGE_SECRET_KEY=tsec_sqY6oPLcObK4vNrZ60-U19ji8Pl2SPceu-bU6AebTs6kKVQ9ff6onqdE95Hzj2SVRdyG9P
